.menuInput {
    display:none
}
.menuLabel {
    position: fixed;
    top: 0;
    right: 0;
    width: 2.5em;
    height: 1.6em;
    color: peru;
    font-size: 1.3em;
    text-align: left;
    padding: .5em;
    transition: all .4s ease;
    z-index: 999;
}
.menuInput:checked + .menuLabel {
    transform: translate(-23px, -3px) rotate(-90deg);
    transition: all .5s ease;
}
.menuInput:checked ~ .topmenu {
    position: fixed;
    top: 3em;
    right: 0;
    z-index: 999;
    transition: all .5s ease;
}
.topmenu{
    display: block;
    position: fixed;
    top:3em;
    right: -20em;
    z-index: 999;
    padding: 0;
    margin: 0;
    list-style: none;
    transition: all .5s ease;
    background-color: powderblue;
    a {
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: left;
    padding: 1em;
    margin: 0;
    letter-spacing: 2px;
      &:hover,
      &:active {
      color: black;
      background-color: peru;
      }
    }
}

@media screen and (min-width:48em) {
    .topnav {
        margin: 1em 0 0 2em;
        border-radius: 3px;
    }
    .topmenu {
        display: flex;
        flex-flow: row;
        justify-content: flex-end;
        position: relative;
        top: 0;
        right: 0;
        background-color: plum;
        transition: none;
    }
    .menuLabel{
        display: none;
    }
}